@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title</h2>

<p>
    Встраиваемая технология нечеткого поиска для различных систем, таких как веб-сайты, учетные системы, базы данных и т.д.
</p>

<p>
    Нечеткий поиск в тексте является актуальной задачей, если необходимо найти информацию по некоторым фрагментам строк и заранее
    неизвестно, в каких сочетаниях эти фрагменты могут встретиться в тексте.
</p>

<p>
    Принцип работы алгоритма TextRadar основан на корреляционном анализе в его интерпретации применительно к текстовым данным.
    Алгоритм оригинален и не является компиляцией какого-либо из широко известных методов нечеткого сравнения строк.
</p>
<p>
    Подробнее об алгоритме здесь: <a href="https://habr.com/ru/post/474706/" target="_blank"> Алгоритм нечеткого поиска TextRadar — основные подходы</a>
</p>
