@model TextRadarFuzzySearchDemo.Models.Page

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Война и мир, стр. @(Model.Id + 1)</title>
</head>
<body>
    <div>
        <br>
        <center><h4>- @(Model.Id + 1) -</h4></center>
        <br>
        @Model.Text
    </div>
</body>
</html>
